@*
    
*@
@{
}

<div class="container login-container">
<h2 class="">Login</h2>
<form method="post" action="/Account/LoginPage">
        <div class="col-md-3">

            <div class="form-group form-cont ">
        <label for="userid">UserId:</label>
        <input type="text" class="form-control" id="userid" name="userid" placeholder="Enter UserId">
    </div>
    <br />
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    </div>
    <br />
        <button type="submit" class="btn btn-secondary btn-block">Login</button>
</form>
</br>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
</div>
